@media only screen and (min-width :320px){
	.imt {
		width: 150px;
		height: 70px;
	}
}

.header {
	margin-top: 1%;
	margin-bottom: 1%;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}